body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  ) !important;
}

* {
  color: wheat !important;
}

.navbar-brand img {
  max-height: 50px;
}

.nav-item {
  padding: 0px 20px;
}

button{
  border-color: wheat !important;
}

.btn:hover {
  background-color: #f5deb3 !important;
  color: black !important;
}

.name {
  font: 80px Arial, sans-serif !important;
}
